// Poppins
@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

// Inter
@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

// Manrope
@font-face {
    font-family: "Manrope";
    src: url("./../fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Manrope";
    src: url("./../fonts/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Manrope";
    src: url("./../fonts/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Manrope";
    src: url("./../fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Manrope";
    src: url("./../fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

// Roboto
@font-face {
    font-family: "Roboto";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Roboto";
    src: url("./../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

// Public Sans
@font-face {
    font-family: "Public Sans";
    src: url("./../fonts/PublicSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

// Quicksand
@font-face {
    font-family: "Quicksand";
    src: url("./../fonts/Quicksand-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

// Plus Jakarta Sans
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./../fonts/PlusJakartaSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
